<div class="container">
  @if (style == 'ds1') {
    <div class="dark-souls-hud">
      <img class="skull" src="../assets/images/ds-skull.png">
      <div class="ds1-counter-style">{{counter}}</div>
  </div>
  } @else if ( style == 'ds3') {
    <div class="dark-souls-3-hud">
      <img class="skull-ds3" src="../assets/images/ds-skull.png">
      <div class="ds3counterstyle">{{counter}}</div>
    </div>
  } @else if (style =='elden-ring') {
    <div class="elden-ring-hud">
      <!-- <img class="elden-ring-skull" src="../assets/images/ds-skull.png"> -->
      <div class="elden-ring-counterstyle">{{counter}}</div>
    </div>
  }
</div>
<div class="menu">
  Menu
  <div class="buttons">
    <button (click)="saveDeaths()">Guardar</button>
    <button (click)="changeCounterStyle('ds1')">DS1</button>
    <button (click)="changeCounterStyle('ds3')">DS3</button>
    <button (click)="changeCounterStyle('elden-ring')">Elden Ring</button>
  </div>
</div>